<!doctype html>
<html>
  <head>
  	<link rel="stylesheet" href="/style.css">
  </head>
  <body>
  	<header class="page-header">
  		<div class="logo">Social App</div>
			<ul class="nav">
				<li><a href="/people">Friends</a></li>
				<li><a href="/people/new">Add a Friend</a></li>
			</ul>	
  	</header>
  	<div class="content-wrapper">
	  	<%- body %>
	  </div>
  </body>
</html>