<h2>People</h2>
<ul class="results">
<% people.forEach(function(person) { %>
	<li>
		<a href="/people/<%= person.id %>"><%= person.lastname %>, <%= person.firstname %></a>
		<form action="/people/<%= person.id %>?_method=delete" method="post">
			<input type="submit" value="Delete">
		</form>
	</li>
<% }) %>
</ul>
