<!doctype html>
<html>
  <head>
  </head>
  <body>
  	<ul>
  		
    <% people.forEach(function(person) { %>
			<li><a href="/people/<%= person.id %>"><%= person.lastname %>, <%= person.firstname %></a></li>
    <% }) %>
		</ul>
  </body>
</html>