<h2>People</h2>
<ul class="results">
<% people.forEach(function(person) { %>
	<li>
		<a href="/people/<%= person.id %>"><%= person.lastname %>, <%= person.firstname %></a>
		<a class="button delete pull-right" href="/people/<%= person.id %>?_method=delete">Delete person</a>
	</li>
<% }) %>
</ul>
