<!doctype html>
<html>
  <head>
  </head>
  <body>
  	<h2>Add a New Person</h2>
  	<form action="/people" method="post">
  		<input type="text" name="person[firstname]" id="first-name" placeholder="First Name">
  		<input type="text" name="person[lastname]" id="last-name" placeholder="Last Name">
  		<input type="submit" value="Add person">
  	</form>
  </body>
</html>