
<h2>Add a New Friend</h2>
<form action="/people" method="post">
	<input type="text" name="person[firstname]" id="first-name" placeholder="First Name">
	<input type="text" name="person[lastname]" id="last-name" placeholder="Last Name">
	<input type="submit" value="Add person">
</form>
