
<h2><%= person.lastname %>, <%= person.firstname %></h2>

<div class="show-container">
	<img class="profile-img pull-left" src="http://lorempixel.com/200/200/people" alt="someone">
	<p>Crucifix food truck Austin beard Truffaut, lo-fi Blue Bottle art party post-ironic aesthetic sustainable ugh bitters. Swag Truffaut +1, leggings McSweeney's yr Banksy 90's PBR dreamcatcher retro organic. Ethical street art gastropub readymade 8-bit. Roof party direct trade master cleanse artisan, pickled keytar cornhole sustainable whatever Portland Pitchfork. Readymade umami tote bag cliche flannel, tousled cardigan Carles ennui ethnic banjo Austin hashtag kale chips you probably haven't heard of them. American Apparel organic dreamcatcher narwhal tofu. Deep v food truck church-key, Brooklyn flexitarian tattooed occupy.</p>
	
	<div class="buttons">
		<a class="button pull-left" href="/people/<%= person.id %>/edit">Edit</a>
		<form class="pull-left" action="/people/<%= person.id %>?_method=delete">
			<input class="button delete" type="submit" value="Delete">
		</form>
	</div>

</div>
